[Desktop Entry]
Type=Application
Name=Toetsmodus
Comment=Start de vergrendelde Coolbx-toetsmodus
Exec=pkexec /usr/bin/coolbx-kiosk-start
Icon=coolbx-focus
Terminal=false
Categories=Education;
